#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	led_sensor0: led_sensor_0 {
		compatible = "zephyr-course,led-sensor";
		led-gpios = <&gpiog 13 GPIO_ACTIVE_HIGH>;
		runtime-parameter = <42>;
		status = "okay";
	};

	aliases {
		app-led = &green_led_3;
		led-sensor = &led_sensor0;
	};
};
